@import "mixins/base";
@import "mixins/mixins";
//https://coderthemes.com/hyper_2/saas/index.html

@import "bootstrap";
@import "common";
@import "app";


.loader-text{
  margin-top: 80px;
  font-weight: bold;
  text-align: center;
}
.loader-logo {
  position: absolute;
  width: 110px;
  height: 110px;
  margin-top: -55px;
  z-index: 1201;
  &:after,
  &:before {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 100%;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    content: '';
  }
  &:after {
    background-image: url(../images/lion_color_1.svg);
  }

  &:before {
    -webkit-animation: rotateForever 3s linear infinite;
    -moz-animation: rotateForever 3s linear infinite;
    -ms-animation: rotateForever 3s linear infinite;
    -o-animation: rotateForever 3s linear infinite;
    animation: rotateForever 3s linear infinite;
    background-image: url(../images/lion_color_2.svg);
  }
}


@-webkit-keyframes rotateForever {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotateForever {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}